@font-face{
  font-family: "PT Sans";
  font-style:normal ;
  font-weight: 400;

  src: url("../2421731-sedona-38/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style:normal ;
  font-weight: 700;

  src: url("../2421731-sedona-38/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body{
  background-color: tomato;
  font-family: "PT Sans";
}
