@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
  }

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans";
  font-size: 22px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  background: #ffffff;
  color: #000000;
}

.navigation{
  display: flex;
  margin: 0 auto;
}

.navigation-link {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.navigation-list{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 339px;
}

.navigation-user{
  max-width: 250px;
  margin-left: auto;
}

.hero {
  text-align: center;
  background-image: url("../images/hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo{
  display: block;
  margin: 0 auto;
}

.main-page {
  background-color: #ffffff;
}

.main-container{
  flex-grow: 1;
}

.page-footer-container{
  width: 1200px;
  margin: 0 auto;
}

.pluses {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subtitle{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

}

.search-hotel{
  text-align: center;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #000000; /* white*/
  text-decoration: none;
}


.advantages-item {
  background-color: #83b3d3;
  text-align: center;
  color: #000000;
  width: 400px;
  height: 385px;
  text-align: center;
}

.advantages-image{
  vertical-align: middle;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-paragraph {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}


.services{
  text-align: center;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.background-light{
  background-color: #83B3D31F;
}

.advantages-light{
  background-color: #83B3D333;
}

.advantages-white{
  color: #ffffff;
  display: flex;
  width: 100%;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.services-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.services-item{
width: 400px;
height: 385px;
}


.subscription {
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

 .page-footer{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
 }

 .footer-social{
  width: 150px;
  display: flex;
  list-style: none;
 }


/*        CATALOG              */

.background-image {
  background-image: url("../images/background-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.header-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  color: #000000; /* white */
}

.catalog-list{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
}

.catalog-filter{
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
}

.catalog-item{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 340px;
  }

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
}

.found-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.card-name {
  font-size: 18px;
  line-height: 21px;
}

.button{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 140px;
  height: 36px;

}

.button-detailed{
  background-color: #756157;
  width: 140px;
  height: 36px;
}

.button-favourites{
  background-color:#82B3D3;

}

.button-accept{
  background-color:#82B3D3;
  width: 191px;
  height: 37px;
}

.button-reset{
  background-color: none;
}

.button-selected{
  background-color: #7DB54F;

}

.search-button{
  width: 376px;
  height: 52px;
  background-color: #756157;
  border-radius: 4px;

}

.rating{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color:#F2F2F2;
  width: 140px;
  height: 37px;
  border-radius: 4px;
}

.card-price {
  font-size: 18px;
  line-height: 21px;
}

.subscription-title{
  text-transform: uppercase;
}

.text-basic{
  color:#ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;
}

.pagination{
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
  list-style: none;

}

.pagination-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
  width: 60px;
  height: 60px;
}
.pagination-link {
  color: inherit;
  text-decoration: none;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-points {
  color: #000000;
  background-color: #FFFFFF;
}
